<a href="https://colab.research.google.com/github/HeewonKwak/Bigdata/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%9E%91%EC%97%85_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제
import pandas as pd
X_test = pd.read_csv("data/X_test.csv")
X_train = pd.read_csv("data/X_train.csv")
y_train = pd.read_csv("data/y_train.csv")
y = y_train['gender']

# 사용자 코딩
# print(X_train.info())
drop_col = ['cust_id', '환불금액']
X_train_drop = X_train.drop(columns = drop_col)
X_test_drop = X_test.drop(columns = drop_col)

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(X_train_drop['주구매상품'])
X_train_drop['주구매상품'] = le.transform(X_train_drop['주구매상품'])
X_test_drop['주구매상품'] = le.transform(X_test_drop['주구매상품'])

le1 = LabelEncoder()
le1.fit(X_train_drop['주구매지점'])
X_train_drop['주구매지점'] = le1.transform(X_train_drop['주구매지점'])
X_test_drop['주구매지점'] = le1.transform(X_test_drop['주구매지점'])

# print(X_train_drop.head())

from sklearn.model_selection import train_test_split

# print(help(train_test_split))
Xtrain, Xtest, ytrain, ytest = train_test_split(X_train_drop, y, test_size=0.33, random_state=42, stratify = y)

from sklearn.ensemble import RandomForestClassifier
# print(help(RandomForestClassifier))
rf = RandomForestClassifier()
rf.fit(Xtrain, ytrain)

# print(dir(RandomForestClassifier))

pred = rf.predict_proba(Xtest)[:,1]
# print(pred)

from sklearn.metrics import roc_auc_score
# print(roc_auc_score(ytest, pred))

sub_cust_id = X_test['cust_id']
sub_pred = pd.DataFrame(rf.predict_proba(X_test_drop)[:,1])

sub = pd.concat([sub_cust_id, sub_pred], axis=1)
sub.columns = ['cust_id', 'gender']
# print(sub)
sub.to_csv('003000000.csv', index=False)

df = pd.read_csv('003000000.csv')
print(df)

# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# pd.DataFrame({'cust_id': X_test.cust_id, 'gender': pred}).to_csv('003000000.csv', index=False)

In [ ]:
import pandas as pd

xtrain = pd.read_csv('data/X_train.csv')
xtest = pd.read_csv('data/X_test.csv')
ytrain = pd.read_csv('data/y_train.csv')
y = ytrain['gender']

# print(xtrain.shape, xtest.shape)

del_col = ['cust_id', '환불금액']
xtrain_drop = xtrain.drop(columns = del_col)
xtest_drop = xtest.drop(columns = del_col)

# print(xtrain_drop, xtest_drop)
# print(xtrain_drop.shape, xtest_drop.shape)

from sklearn.preprocessing import LabelEncoder

# print(help(LabelEncoder))

lb = LabelEncoder()
lb.fit(xtrain_drop['주구매상품'])
xtrain_drop['주구매상품'] = lb.transform(xtrain_drop['주구매상품'])
xtest_drop['주구매상품'] = lb.transform(xtest_drop['주구매상품'])

lb2 = LabelEncoder()
lb2.fit(xtrain_drop['주구매지점'])
xtrain_drop['주구매지점'] = lb2.transform(xtrain_drop['주구매지점'])
xtest_drop['주구매지점'] = lb2.transform(xtest_drop['주구매지점'])

# print(xtrain_drop, xtest_drop)
# print(xtrain_drop.shape, xtest_drop.shape)

from sklearn.model_selection import train_test_split
# import sklearn
# print(help(sklearn))
# print(help(train_test_split))
X_train, X_test, y_train, y_test = train_test_split(xtrain_drop, y, test_size=0.33, random_state=42, stratify=y)
# print(X_train.shape, X_test.shape, y_train.shape, y_test.shape,)

from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(X_train, y_train)
# print(dir(RandomForestClassifier))
pred = rf.predict_proba(X_test)[:,1]
# print(pred)

from sklearn.metrics import roc_auc_score

# print(roc_auc_score(y_test, pred))

sub_cust_id = xtest['cust_id']
sub_pred = pd.DataFrame(rf.predict_proba(xtest_drop)[:,1])
sub = pd.concat([sub_cust_id, sub_pred], axis=1)
sub.columns = ['cust_id', 'gender']
sub.to_csv('000000000.csv', index=False)

df = pd.read_csv('000000000.csv')
print(df)

# lb1.transform()

In [1]:
import pandas as pd
#데이터 로드
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv")

In [2]:
df.head()

   RowNumber  CustomerId     Surname  ...  IsActiveMember EstimatedSalary Exited
0       6842    15793491  Cherkasova  ...               0        65482.94      0
1       8963    15607874       Keane  ...               1       137276.83      0
2       7047    15737627      Rivero  ...               0         3529.72      0
3       7503    15697844  Whitehouse  ...               0       136119.96      1
4       3439    15722404   Carpenter  ...               1       127939.19      0

[5 rows x 14 columns]

In [15]:
ex_max = df.Exited.max()
geo = df.loc[(df.Exited == ex_max) & (df.Gender == 'Male')].Geography.value_counts()
# num = df.loc[df.Exited == ex_max].Exited
print(geo.iloc[0])

287

In [16]:
df.loc[(df.HasCrCard == 1) & (df.IsActiveMember == 1)].Age.mean()

39.61019283746556

In [18]:
med = df.Balance.median()
df.loc[df.Balance >= med].CreditScore.std()

97.29451567120783

In [20]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")

In [21]:
df.head()

  성별코드  연령대코드(5세단위)  신장(5Cm단위)  체중(5Kg단위)  ...  흡연상태  구강검진수검여부  치아우식증유무  치석
0    F           55        145         55  ...     0         Y      0.0   Y
1    M           40        180         55  ...     1         Y      0.0   Y
2    F           55        150         50  ...     0         Y      0.0   N
3    M           40        170         85  ...     1         Y      1.0   Y
4    F           40        155         45  ...     0         Y      0.0   N

[5 rows x 26 columns]

In [22]:
df['혈압차'] = df['수축기혈압'] - df['이완기혈압']
df.groupby('연령대코드(5세단위)')['혈압차'].var().sort_values()

연령대코드(5세단위)
35     60.757553
30     61.990014
20     66.555720
40     67.285468
25     68.794878
50     71.207529
45     71.445083
55     79.294182
85     86.263736
60     94.386922
65     99.635384
75    115.471623
70    115.999711
80    154.537248
Name: 혈압차, dtype: float64

In [29]:
df['비만도'] = df['허리둘레'] / df['신장(5Cm단위)']
test = df.loc[df['비만도'] >= 0.58].성별코드.value_counts()

In [34]:
test[0]/test[1]

1.1693877551020408

In [35]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv")

In [36]:
df.head()

       id  Gender  Age  ...  Policy_Sales_Channel  Vintage  Response
0  188957  Female   25  ...                 152.0       59         0
1  275631    Male   20  ...                 160.0      113         0
2  329036  Female   40  ...                 124.0      188         0
3  227288  Female   28  ...                 152.0      233         0
4  300441  Female   50  ...                 124.0      258         0

[5 rows x 12 columns]

In [38]:
df.Vehicle_Age.unique()

array(['< 1 Year', '1-2 Year', '> 2 Years'], dtype=object)

In [39]:
tes = df.loc[df.Vehicle_Age == '> 2 Years']
med = df.Annual_Premium.median()
tes.loc[tes.Annual_Premium >= med].Vintage.mean()

154.43647182359118

In [43]:
tes1 = df.groupby('Vehicle_Age')['Gender', 'Annual_Premium']
print(tes1)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fed4b41bf10>

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [42]:
tes1 = df.groupby('Gender')['Vehicle_Age']
print(tes1)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x7fed4a6b5510>

In [48]:
tes1 = df.groupby(['Gender', 'Vehicle_Age'], as_index=False)['Annual_Premium'].mean()

In [50]:
tes1.pivot(index='Vehicle_Age', columns='Gender', values='Annual_Premium')

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

In [51]:
df.groupby(['Gender','Vehicle_Age'])['Annual_Premium'].mean().unstack(0)

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

In [53]:
df.groupby(['Gender', 'Vehicle_Age'])['Annual_Premium'].mean().unstack(0)

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

In [54]:
trainData  = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/heart/train.csv'
testData  = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/heart/test.csv'
subData  = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/heart/submission.csv'


#데이터로드
import pandas as pd

train = pd.read_csv(trainData,index_col=0)
test = pd.read_csv(testData,index_col=0)
submission = pd.read_csv(subData,index_col=0)

In [60]:
train.target.unique()

array([0, 1])

In [ ]:
test.info()

In [63]:
y_train = train['target']
x_train = train.drop(columns = ['target'])

In [64]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
pred = rf.predict(test)

In [65]:
pred

array([1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1])

In [66]:
pred.shape

(61,)

In [67]:
sub = pd.DataFrame(pred)
sub

    0
0   1
1   1
2   1
3   0
4   0
.. ..
56  1
57  0
58  1
59  0
60  1

[61 rows x 1 columns]

In [69]:
sub.columns = ['target']
sub.to_csv('12124421.csv', index=False)
df = pd.read_csv('12124421.csv')
df

    target
0        1
1        1
2        1
3        0
4        0
..     ...
56       1
57       0
58       1
59       0
60       1

[61 rows x 1 columns]

In [78]:
trainData  = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv'
testData  = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/test.csv'
subData  = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/submission.csv'


#데이터로드
import pandas as pd

train = pd.read_csv(trainData,index_col=0)
test = pd.read_csv(testData,index_col=0)
submission = pd.read_csv(subData,index_col=0)

In [71]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 304887 entries, 188957 to 127164
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Gender                304887 non-null  object
 1   Age                   304887 non-null  int64
 2   Driving_License       304887 non-null  int64
 3   Region_Code           304887 non-null  float64
 4   Previously_Insured    304887 non-null  int64
 5   Vehicle_Age           304887 non-null  object
 6   Vehicle_Damage        304887 non-null  object
 7   Annual_Premium        304887 non-null  float64
 8   Policy_Sales_Channel  304887 non-null  float64
 9   Vintage               304887 non-null  int64
 10  Response              304887 non-null  int64
dtypes: float64(3), int64(5), object(3)
memory usage: 27.9+ MB

In [79]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
lb.fit(train.Vehicle_Age)

train["Vehicle_Age"] = lb.transform(train["Vehicle_Age"])
test["Vehicle_Age"] = lb.transform(test["Vehicle_Age"])

lb2 = LabelEncoder()
lb2.fit(train.Vehicle_Damage)

train["Vehicle_Damage"] = lb2.transform(train["Vehicle_Damage"])
test["Vehicle_Damage"] = lb2.transform(test["Vehicle_Damage"])

lb3 = LabelEncoder()
lb3.fit(train.Gender)

train["Gender"] = lb3.transform(train["Gender"])
test["Gender"] = lb3.transform(test["Gender"])

In [80]:
y_train = train['Response']
x_train = train.drop(columns = ["Response"])

In [81]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(x_train, y_train)

pred = rf.predict(test)
pred

array([0, 0, 0, ..., 0, 0, 0])

In [82]:
pred.shape

(76222,)

In [83]:
test.shape

(76222, 10)

In [86]:
sub = pd.DataFrame(pred)
sub.columns = ['Response']
sub.to_csv('123123123.csv', index=False)
df = pd.read_csv('123123123.csv')
df.Response.value_counts()

0    66828
1     9394
Name: Response, dtype: int64

In [94]:
import pandas as pd

df = pd.DataFrame({'rating': ['1', '2', '4', '*7', '8', '*7', '3', '5', '2', '*7']})
# df['rating'].astype('int')   # 실행해서 발견 - ValueError: invalid literal for int() with base 10: '*7'

In [93]:
def change(x):
  if x == "*7":
    return 7
  else:
    return x


df['rating'] = df['rating'].apply(change)
df['rating'].astype('int')

0    1
1    2
2    4
3    7
4    8
5    7
6    3
7    5
8    2
9    7
Name: rating, dtype: int64

In [95]:
df['rating'] = df['rating'].str.replace("*", "")
df

  rating
0      1
1      2
2      4
3      7
4      8
5      7
6      3
7      5
8      2
9      7

In [96]:
df.isna().sum()

rating    0
dtype: int64

In [97]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv")

In [102]:
from sklearn.ensemble import RandomForestRegressor

df_t = df.drop([df.columns[0]],axis=1)
x = df_t.drop([df.columns[-1]],axis=1)
y = df_t[df.columns[-1]]

ml = RandomForestRegressor()

ml.fit(x,y)

pd.DataFrame({'feature_importance':ml.feature_importances_}, x.columns).sort_values('feature_importance',ascending=False)

                   feature_importance
CGPA                         0.814081
GRE Score                    0.083714
TOEFL Score                  0.032601
LOR                          0.024429
SOP                          0.023880
University Rating            0.013982
Research                     0.007314

In [104]:
pd.DataFrame({'importance':ml.feature_importances_},x.columns).sort_values('importance',ascending=False)

                   importance
CGPA                 0.814081
GRE Score            0.083714
TOEFL Score          0.032601
LOR                  0.024429
SOP                  0.023880
University Rating    0.013982
Research             0.007314